<div class="payment-page">
  <div class="payment-form  ">
  <%= form_tag do %>
  <h3>Billing Information</h3>
  <div>
    <%= label_tag(:user_name, "Name on card") %>
    <%=text_field_tag 'user_name' %>
  </div>
  <div>
    <%= label_tag(:user_address, "Billing Address") %>
    <%=text_field_tag 'user_address' %>
  </div>
  <div>
    <%= label_tag(:user_city, "City") %>
    <%=text_field_tag 'user_city' %>
  </div>
  <div>
    <%= label_tag(:user_province, "Province") %>
    <%= select_tag :user_province, options_for_select(ca_provinces) %>
  </div>
  <div>
    <%= label_tag(:user_zip, "Postal Code") %>
    <%=text_field_tag 'user_zip' %>
  </div>
  <div>
    <%= label_tag(:user_card, "Card Number") %>
    <%=text_field_tag 'user_card'%>
  </div>
  <div>
    <%= label_tag(:user_sc, "Security Code") %>
    <%=text_field_tag 'user_sc', nil, maxlength: 3 %>
  </div>
  <div>
    <%= label_tag(:user_phone, "Phone number") %>
    <%= telephone_field_tag 'user_phone' %>
  </div>
  <div>
    <%= check_box_tag(:bill_address) %>
  <%= label_tag(:bill_address, "Use Address on file as billing address") %>
  </div>
  <div><%= link_to 'Confirm Payment', order_status_index_path, class:"button"%></div>
  <!-- ^^^^^ This should confirm order and change its status from in progress to done then goes to view it-->
  <% end %>
  </div>
  <div>
    <table> Review Your Orders
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <% @order_items.each do |order_item| %>
        <%= render 'carts/payment_cart_row', product: order_item.product, order_item: order_item, show_total: true %>
      <% end %>
      <tr>
        <td>Shipping</td>
        <td></td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td></td>
        <td><%=number_to_currency @order.subtotal%></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%=number_to_currency @order.total%></td>
      </tr>
    </table>
  </div>
</div>
