<h1 class ="text-center">Payment Page</h1>
<h1 class ="text-center">Please complete your order</h1>
<div class="payment-page">
  <div class="payment-form  ">
    <!-- the stuff that works to update location -->
    <%= form_with(model: current_order, local: true) do |form| %>
    <h3>Billing Information</h3>
      <% if current_order.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(current_order.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% current_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div>
      <%= form.label(:name, "Name on card") %>
      <%= form.text_field :name, :required => true %>
    </div>
    <div>
      <%= form.label(:bill_address, "Billing Address") %>
      <%= form.text_field :bill_address, :required => true %>
    </div>
    <div>
      <%= form.label(:city, "City") %>
      <%= form.text_field :city, :required => true %>
    </div>
    <div>
      <%= form.label(:province, "Province") %>
      <%= form.text_field :province, :required => true %>
    </div>
    <div>
      <%= form.label(:location, "Postal Code") %>
      <%= form.text_field :location, :required => true %>
    </div>
    <div>
      <%= form.label(:cardNumber, "Card Number") %>
      <%= form.text_field :cardNumber, :required => true %>
    </div>
    <div>
      <%= form.label(:securityCode, "Security Code") %>
      <%= form.text_field :securityCode, :required => true %>
    </div>
    <div>
      <%= form.label(:phoneNumber, "Phone Number") %>
      <%= form.text_field :phoneNumber, :required => true %>
    </div>


  </div>


  <div>
    <table> <h3> Review Your Orders</h1>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <% @order_items.each do |order_item| %>
        <%= render 'carts/payment_cart_row', product: order_item.product, order_item: order_item, show_total: true %>
      <% end %>
      <tr>
        <td>Shipping</td>
        <td></td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td></td>
        <td><%=number_to_currency @order.subtotal%></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%=number_to_currency @order.total%></td>
      </tr>
    </table>
    <%= form.submit "Confirm Payment", class:"btn btn-primary btn-large" %>
  </div>
  <% end %>
</div>
