<!DOCTYPE html>
<html>
  <head>
    <title>Pizza_Delivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- this makes tooltips work somehow, I don't know why but I won't question it-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home/index"><img src="/assets/logo_full.png"></img></a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
          <li>
            <div class="dropdown">
             <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">Account
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
               <li><%= link_to('Logout', destroy_user_session_path,:class => 'navbar-link',  method: :delete) %></li>
            </ul>
           </div>
          </li>
          <li>
            <div class="dropdown">
             <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">View Orders
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><%= link_to 'Current Order', carts_show_path, :class => 'navbar-link' %></li>
               <li><%= link_to 'Placed Orders', order_status_placed_path, :class => 'navbar-link' %></li>
               <li><%= link_to 'Past Orders', order_status_completed_path, :class => 'navbar-link' %></li>
            </ul>
           </div>
          </li>
          <li>
            <h1 class="cart-text carttext"><%= render 'layouts/cart_text' %></h1>
          </li>
      <% elsif restaurant_signed_in? %>
             <li>
               <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">Admin Tools
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li> <%= link_to('View Admin', restaurants_path, :class => 'navbar-link') %></li>
                  <li><%= link_to 'Edit Admin Info', edit_restaurant_registration_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Stores', admin_stores_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Admins', admin_restaurants_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Customers', admin_customers_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Drivers', admin_drivers_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Products', admin_products_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Manage Orders', admin_orders_path, :class => 'navbar-link' %></li>
                </ul>
              </div>
             </li>
             <li>
               <%= link_to('Logout', destroy_restaurant_session_path,:class => 'btn-danger whitetext', method: :delete, ) %>
             </li>
             <li>
               <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">View Orders
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <!-- This is orders currently being delivered, I'm just naming the button this way as it's a good name-->
                  <li><%= link_to 'Shipping Orders', order_status_shipped_path, :class => 'navbar-link' %></li>
                  <!-- on further thought, this probably not needed
                  <li><%= link_to 'In Progress Orders', order_status_inProgress_path, :class => 'navbar-link' %></li>
                  -->
                  <li><%= link_to 'Placed Orders', order_status_placed_path, :class => 'navbar-link' %></li>
                  <li><%= link_to 'Past Orders', order_status_completed_path, :class => 'navbar-link' %></li>
               </ul>
              </div>
             </li>
      <% elsif driver_signed_in? %>
          <li>
            <div class="dropdown">
             <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">Account
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><%= link_to 'Edit profile', edit_driver_registration_path, :class => 'navbar-link' %></li>
               <li><%= link_to('Logout', destroy_driver_session_path,:class => 'navbar-link',  method: :delete) %></li>
            </ul>
           </div>
          </li>
          <li>
            <div class="dropdown">
             <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">View Delivery
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <!-- Current order is the one they are shipping-->
               <li><%= link_to 'Current Delivery', order_status_shipped_path, :class => 'navbar-link' %></li>
               <li><%= link_to 'Available Orders', order_status_placed_path, :class => 'navbar-link' %></li>
               <li><%= link_to 'Completed Deliveries', order_status_completed_path, :class => 'navbar-link' %></li>
            </ul>
           </div>
          </li>
      <% else %>
          <li>
            <div class="dropdown">
             <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">Sign Up
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><%= link_to "Customer Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
               <li><%= link_to "Driver Sign up", new_driver_registration_path, :class => 'navbar-link'  %></li>
            </ul>
           </div>
          </li>
          <li>
              <div class="dropdown">
                 <button class="btn btn-danger dropdown-toggle navigation-button" type="button" data-toggle="dropdown">Log in
                 <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                   <li><%= link_to('Customer Login', new_user_session_path)  %></li>
                   <li><%= link_to('Driver Login', new_driver_session_path)  %></li>
                   <li><%= link_to('Restaurants Login', new_restaurant_session_path)  %></li>
                 </ul>
               </div>
          </li>
        </ul>
      <% end %>
    </ul>
  </div>
</nav>
<div class="placeholderdiv">
</div>
    <!-- Toolbar -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- application html -->
    <%= yield %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
