<!DOCTYPE html>
<html>
  <head>
    <title>Pizza_Delivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- this makes tooltips work somehow, I don't know why but I won't question it-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <!-- Toolbar -->
    <div class="container-fluid toolbar">
      <div class="row">

        <div class="col">
          <ul class="nav">
            <li>
              <%= link_to 'Home', root_path %>
            </li>
            <li>
              <%= link_to 'About', home_about_path, :class => 'navbar-link' %>
            </li>
          </ul>
        </div>

        <div class="col">
          <% if restaurant_signed_in? %>
            <h3 class="text-center">Pizza Delivery System - Restaurant Menu</h3>
          <% elsif user_signed_in? %>
            <h3 class="text-center">Pizza Delivery System</h3>
          <% else %>
            <h3 class="text-center">Pizza Delivery System</h3>
          <% end %>
        </div>

        <div class="col">
          <% if user_signed_in? %>
            <ul class="nav">
              <li>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              </li>
              <li>
                <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
              </li>
            </ul>
          <!--Depreciated. Left in just in case user manages to get to the stripped login page-->
          <% elsif restaurant_signed_in? %>
            <ul class="nav">
              <li>
                <%= link_to 'Edit Restaurant Info', edit_restaurant_registration_path, :class => 'navbar-link' %>
              </li>
              <li>
                <%= link_to('Logout', destroy_restaurant_session_path, method: :delete) %>
              </li>
            </ul>
          <% else %>
            <ul class="nav">
              <li>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              </li>
              <li>
                <%= link_to('Login', new_user_session_path)  %>
              </li>
              <!--
              <li>
                <%= link_to "Restaurant Sign up", new_restaurant_registration_path, :class => 'navbar-link'  %>
              </li>
              <li>
                <%= link_to('Restaurants Login', new_restaurant_session_path)  %>
              </li>
              -->
            </ul>
          <% end %>
        </div>

    </div>

    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- application html -->
    <%= yield %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
