<div class="container">
  <h1>Admin Tools</h1>
    <%= form_tag(admin_index_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :id, params[:id], placeholder: "Search Order ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_index_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :userId, params[:userId], placeholder: "Search Customer ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_index_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :userId, params[:userId], placeholder: "Search Customer ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_index_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :userId, params[:userId], placeholder: "Search Customer ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_index_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :userId, params[:userId], placeholder: "Search Customer ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <h3>Search Result</h3>
    <table class="table">
      <tr>
        <th>Delivery Address</th>
        <th>Created</th>
        <th>Order Total</th>
        <th>Order</th>
        <th>Customer</th>
        <th>Driver</th>
        <th>Update Status</th>
        <th>Delete</th>
      </tr>
    <% @orders.each do |o| %>

        <tr>
          <td><%= o.streetAddress %></td>
          <td><%= o.created_at %></td>
          <td><%= number_to_currency o.total %></td> <!-- should this be total? -->
          <td><%= link_to 'Show', order_path(o) %></td>
          <td><%= o.userId %></td>
          <td><%= o.driver_id %></td>
          <td><%= link_to 'Update Status', edit_order_path(o) %></td>
          <td><%= link_to 'Delete', order_path(o), method: :delete %></td>
        </tr>
    <% end %>
  </table>

</div>
