<div class="container">
  <h1 class="text-center">Manage Admins</h1>
  <div class ="row">
    <%= form_tag(admin_restaurants_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :id, params[:id], placeholder: "Search Admin ID", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_restaurants_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :name, params[:name], placeholder: "Search by Name", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_restaurants_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :email, params[:email], placeholder: "Search by email", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <%= form_tag(admin_restaurants_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :phoneNumber, params[:phoneNumber], placeholder: "Search by phone number", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to('Create New Admin', new_restaurant_path, :class => 'btn-lg btn-danger new-admin-btn') %>
  </div>
  <div class="row">

    <h3>Search Result</h3>
    <table class="table">
      <tr>
        <th>Admin ID</th>
        <th>Admin Name</th>
        <th>Admin Email</th>
        <th>Admin Phone Number</th>
        <th>Date Created</th>
      </tr>
      <%if @restaurants.size != 0 %>
        <% @restaurants.each do |o| %>
          <tr>
            <td><%= o.id %></td>
            <td><%= o.name %></td>
            <td><%= o.email %></td>
            <td><%= o.phoneNumber %></td>
            <td><%= o.created_at %></td>
          </tr>
        <% end %>
    <% end %>

  </table>
</div>

</div>
