<div class="container">
<h1>Your Current Delivery</h1>
<% if @order.nil? %>
  <p class="text-center">
    You do not currently have a delivery to make. <%= link_to "Go back", order_status_placed_path %> and add choose a delivery.
  </p>
<% else %>
  <h4>Delivery Info</h4>

    <p>Delivery address: <%= @order.streetAddress %></p>
    <p>City: <%= @order.city %></p>
    <p>Province: <%= @order.province %> </p>
    <p>Postal Code:<%= @order.location %>
  <div>
    <%= form_with(model: @order, local: true) do |form| %>
    <%= form.hidden_field :driver_id, value:  @driver.id %>
    <%= form.hidden_field :order_status_id, value: 4 %>
    <%= form.submit "Complete Delivery",class: "btn btn-danger" %>
    <% end %>
  </div>
  <div>
    <%= form_with(model: @order, local: true) do |form| %>
    <%= form.hidden_field :driver_id, value: nil %>
    <%= form.hidden_field :order_status_id, value: 2 %>
    <%= form.submit "Decline Delivery",class: "btn btn-danger" %>
    <% end %>
  </div>
  <%end%>
</div>
