<div class="row well">
    <div class="col">
      <h4><%= store.streetAddress %></h4>
      <h4><%= store.city %></h4>
      <h4><%= store.province %></h4>
      <h4><%= store.zipCode %></h4>
    </div>

    <div class="col">
      <%= form_for order, remote: true do |f| %>
        <div class="input-group">
          <div class="input-group-btn">
            <%= f.hidden_field :store_id, value: store.id %>
            <%= f.submit "Select Store", class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
