

<div class="container">
  <h1>Order # <%= @order.id %> </h1>

  <p>Delivery address: <%= @order.location %></p>
<% if @order.order_status_id.to_i == 2 %>
  <p>Order Status: Awaiting Driver Confirmation</p>
<% elsif @order.order_status_id.to_i == 3%>
  <p>Order Status: Delivering Now</p>
<% elsif @order.order_status_id.to_i == 4%>
    <p>Order Status: Completed</p>
    <p>Driver Rating: <%= @order.driverRating%> out of 5</p>
    <p>Food Rating: <%= @order.foodRating%> out of 5</p>
    <% if !@order.driverRating? && !@order.foodRating? && user_signed_in?%>
      <%= form_with(model: @order, local: true) do |form| %>
      <div class="field">
        <%= form.label :foodRating, "Rate our food" %><br />
        <%= form.select(:foodRating, [['★☆☆☆☆', 1], ['★★☆☆☆', 2],  ['★★★☆☆',3],  ['★★★★☆',4],  ['★★★★★',5]], {}, { :class => 'my_style_class' }) %>
      </div>
      <div class="field">
        <%= form.label :driverRating, "Rate our driver" %><br />
        <%= form.select(:driverRating, [['★☆☆☆☆', 1], ['★★☆☆☆', 2],  ['★★★☆☆',3],  ['★★★★☆',4],  ['★★★★★',5]], {}, { :class => 'my_style_class' }) %>
      </div>
      <%= form.submit "Leave us your feedback", class: "btn btn-danger confirm-payment-btn" %>
      <%end%>
  <%end%>



<% end %>



  <h3>Items</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @order.order_items.each do |o| %>
      <tr>
        <td><%= o.product.name %></td>
        <td><%= o.quantity.to_i %></td>
        <td><%=number_to_currency o.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>Subtotal</td>
      <td><%=number_to_currency @order.subtotal%></td>
    </tr>
    <tr>
      <td></td>
      <td>Shipping</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td><%=number_to_currency @order.total%></td>
    </tr>
  </table>



  <% if driver_signed_in? %>
   <% if @order.order_status_id.to_i == 2 %>
  <div>
    <%= form_with(model: @order, local: true) do |form| %>
    <%= form.hidden_field :driver_id, value:  @driver.id %>
    <%= form.hidden_field :order_status_id, value: 3 %>
    <%= form.submit "Take this delivery",class: "btn btn-danger" %>
    <% end %>
  </div>
   <% elsif @order.order_status_id.to_i == 3 %>
   <div>
     <%= form_with(model: @order, local: true) do |form| %>
     <%= form.hidden_field :driver_id, value:  @driver.id %>
     <%= form.hidden_field :order_status_id, value: 4 %>
     <%= form.submit "Complete Delivery",class: "btn btn-danger" %>
     <% end %>
   </div>
   <%end%>
  <% end %>
</div>
