

<div class="container">
  <h1>Order</h1>
  <ul class="noPoints">
    <li><p>Subtotal: $<%= @order.subtotal %></p></li>
    <li><p>Shipping: $10</p></li>
    <li><p>Total: $<%= @order.subtotal + 10%></p></li>
    <li><p>Location: <%= @order.location %></p></li>
    <li><p>Status: <%= @order.order_status_id %></p></li>
  </ul>

  <h3>Items</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @order.order_items.each do |o| %>
      <tr>
        <td><%= o.product.name %></td>
        <td><%= o.quantity.to_i %></td>
        <td><%=number_to_currency o.total_price %></td>
      </tr>
    <% end %>
    <tr>
    </tr>
  </table>

  <% if driver_signed_in? %>
  <div>
    <%= form_with(model: @order, local: true) do |form| %>
    <%= form.hidden_field :driver_id, value:  @driver.id %>
    <%= form.hidden_field :order_status_id, value: 3 %>
    <%= form.submit "Take this delivery",class: "btn btn-danger" %>
    <% end %>
  </div>
  <% end %>
</div>
